<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% seo %}
	<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	<meta name="google-site-verification" content="3I5qQvWaUBirDQViCSycRs91-x1Yr1YRI-oSewLLuX8" />
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

            {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}

            <p>{{ site.description | default: site.github.project_tagline }}</p>
            {% if site.github.is_project_page %}
            <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
            {% endif %}

            {% if site.github.is_user_page %}
            <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
            {% endif %}

            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
            <!-- Add font awesome icons -->
            <a href="https://www.linkedin.com/in/tadele-belay-tuli-76322258" class="fa fa-linkedin big-icon" style="font-size: 0.73em;"></a>
            <a href="https://www.twitter.com/tadeleTuli" class="fa fa-twitter big-icon"></a>
            <a href="https://www.github.com/tadeleTuli" class="fa fa-github big-icon"></a>
            <a href="https://www.youtube.com/user/taditti" class="fa fa-youtube big-icon"></a>
            <a href="https://scholar.google.com/citations?user=1E7yz60AAAAJ&hl=en" class="ai ai-google-scholar big-icon"></a>
            <a href="https://orcid.org/0000-0002-6769-0646" class="ai ai-orcid big-icon"></a>
            <a href="https://www.researchgate.net/profile/Tadele_Tuli" class="ai ai-researchgate big-icon"></a>
	    <a href="https://publons.com/researcher/3205235/tadele-belay-tuli/" class="ai ai-publons big-icons"></a>
        </header>
        <section>
            {{ content }}
        </section>

        <footer>
            {% if site.github.is_project_page %}
            <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p><small>&#169; 2021 &mdash;Tadele Belay Tuli</small></p>


        </footer>
    </div>
	<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	{% if site.google_analytics %}
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
	</script>
	{% endif %}
</body>
</html>
